:host {
  --star-size: 12px;
  --star-color: #fff;
  --star-background: #fc0;
}
.bubbles{
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-weight:700;
  line-height: 1;

  &::before {
    content: '⬤ ⬤ ⬤ ⬤ ⬤';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

}
table{

  thead{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

  }
  td{
    padding: 10px 0;
  }
  .column{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    padding-right: 90px;

  }
}
