<section>

  <table class="table">
    <thead>
      <tr>
        <th>RATINGS</th>
      </tr>
    </thead>
    <tbody>
      <tr class="Place">
        <td class = 'column'> <img src="../../../assets/images/features/place.png" alt=""> Place</td>
        <td>
          <div class = "bubbles" style="--rating: {{placeRating}};"></div>
        </td>
      </tr>
      <tr class="food">
        <td class = 'column'><img src="../../../assets/images/features/food.png" alt="">  Food</td>
        <td>
          <div class = "bubbles" style="--rating:{{foodRating}};"></div>
        </td>
      </tr>
      <tr class="service">
        <td class = 'column'><img src="../../../assets/images/features/service.png" alt="">  Service</td>
        <td>
          <div class = "bubbles" style="--rating:{{serviceRating}};"></div>
        </td>
      </tr>
      <tr class="staff">
        <td class = 'column'><img src="../../../assets/images/features/staff.png" alt="">  Staff</td>
        <td>
          <div class = "bubbles" style="--rating: {{staffRating}};"></div>
        </td>
      </tr>
      <tr class="breakfast">
        <td class = 'column'><img src="../../../assets/images/features/breakfast.png" alt="">  Breakfast</td>
        <td>
          <div class = "bubbles" style="--rating:{{breakfastRating}};"></div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

