.ratings{
  display: flex;
  flex-direction: row;
}
:host {
  --star-size: 35px;
  --star-color: #fff;
  --star-background: #fc0;
}


.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-weight: 900;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

}
.total{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 10px;
  padding-left: 15px;
}
.averageRating{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.81);

  padding-right: 8px;
  padding-left: 10px;
  position: relative;
  top: 9px;
}
