header{
  display: flex;
  width: 1143px;
  height: 188px;
  font-family: Poppins;
  border-radius: 31px 31px 0px 0px;
  background: #F3EAEA;

  .left{
    flex: 5;
    h1{
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      padding-top: 16px;
      padding-left: 41px;

      color: rgba(0, 0, 0, 0.81);

    }
  }
  .right{
    flex: 4;
  }
}
