.body{
  display: flex;;
  height: 571px;
  max-width: 83%;
  border-radius: 0 0 30px 30px;
  figure{
    width: 746px;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  section{
    width: 831px;
    height: 100%;
    background-color: #ebebeb;
  }
}
