.body{
  display: flex;
  width: 1143px;
  height: 370px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  figure{
    padding: 0;
    margin: 0;
  }
  img{
    max-width: 520px;
    height: 374px;
    object-fit: fill;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  section{
    width: 623px;
  height: 374px;
    background-color: #ebebeb;
  }
}
