.container {
  //  height: 1080px;
  //  width: 1920px;
  max-width: 100%;
  max-height: auto;
  padding-top: 241px;
  padding-bottom: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1366px) {
    background-size: 1366px 768px;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
  }
  // background-size: 1920px 1080px;
  // background-repeat: no-repeat;
  // // min-height: calc(100vh - 2 * 4vw);
}
