
.container {
//  height: 1080px;
//  width: 1920px;
  padding-top: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
  // min-height: calc(100vh - 2 * 4vw);
}
